<ng-template #termuxsetup>
    <markdown ngPreserveWhitespaces clipboard> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces clipboard fxLayoutGap="10%">
        <pre class="mermaid">
          flowchart TD
            id44([0.Install F-Droid]) -->  id4([1.Update F-Droid])
            id4([1.Update F-Droid]) -->  id5([2.Dev Tools Search Termux and install])
            id5([2.Dev Tools Search Termux and install]) -->  id6([3.Change Repo])
            id6([3.Change Repo])  -->  id7([4.Select Grimler Mirror])
            id7([4.Select Grimler Mirror]) --> id8([5.apt upgrade && apt update])
            id8([5.apt upgrade && apt update]) -->  id9([6.pkg install nodejs])
            id9([6.pkg install nodejs]) -->  id10([7.apt install git])
            id10([7.apt install git]) -->  id11([8.apt install openssl-tool])
            id11([8.apt install openssl-tool]) -->  id12([9.git clone Express Starter repo and install and run start])
            id12([9.git clone Express Starter repo and install and run start]) -->  id13([10.After cloning make github repo private])
        </pre>
    </markdown>
    <markdown [src]="'../assets/Oct2022/Termux.md'" ngPreserveWhitespaces clipboard commandLine [prompt]="'PS C:\Manoj>'"
        [filterOutput]="'(out)'">
    </markdown>
</ng-template>

<ng-container [ngTemplateOutlet]="tems" [ngTemplateOutletContext]="myContext">